---
---

@charset "utf-8";

@import
"reset",
"wrapper",
"page",
"footer",
"header",
"float",
"posts",
"categories",
"post",
"mobile"
;

body {
  color: rgb(0, 0, 0);
  background-color: #d1d1d1;
}
h1, h2, strong {
  color: #4c041a;
}
a {
  color: #201823;
}
h3 {
  color: rgb(30, 49, 50);
}

